* {
  list-style: none;
  padding: 0;
  margin: 0;
}

body{
  background-image: url('./images/paper-background.png');
  font-family: 'Times New Roman', Times, serif;
  background-position: center;
  background-size: cover;
}
/* NAVBAR */
.nav {
  position: relative;
}

.section-left,.section-right li {
  font-size: 18px;
  line-height: 120px;
  height: 100%;
}

.section-left {
  padding-left: 120px;
}

.section-right {
  padding-right: 120px;
}

a {
  text-decoration: none;
  color: #0F0F0F;
}

.section-left{
  display: flex;
  float: left;
  position: relative;
}

.section-right{
  display: flex;
  float: right;
  position: relative;
}

@media(max-width:800px) {
  .section-left,.section-right li {
      font-size: 18px;
  }
  .section-left {
    padding-left: 30px;
  }
  
  .section-right {
    padding-right: 30px;
  }
}

@media(max-width:622px) {
  .section-left,.section-right li {
      font-size: 16px;
  }
  .section-left {
    padding-left: 30px;
  }
  
  .section-right {
    padding-right: 30px;
  }
}

@media(max-width:425px) {
  .section-left,.section-right li {
      font-size: 16px;
  }
  .section-left {
    padding-left: 30px;
  }
  
  .section-right {
    padding-right: 30px;
  }
}

@media(max-width:375px) {
  .section-left,.section-right li {
      font-size: 12px;
  }
  .section-left {
    padding-left: 30px;
  }
  
  .section-right {
    padding-right: 30px;
  }
}
/* NAVBAR END */

/* MAIN SECTION */

.main-section {
  position: absolute  ;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.name {
  font-size: 18px;
  font-weight: 400;
  color: #161616;
  margin: 8px;
}

.job {
  font-size: 18px;
  font-weight: 700;
  color: #0F0F0F;
}

@media(max-width:470px) {
  .name {
    font-size: 16px;
  }
  .job {
    font-size: 16px;
  }
}

@media(max-width:375px) {
  .name {
    font-size: 14px;
}
  .job {
    font-size: 14px;
  }
}

/* MAIN SECTION END */

/* SCROLLDOWN SECTION */
.scrolldown-section {
  position: absolute  ;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrolldown {
  font-size: 16px;
  font-weight: 400;
  color: #161616;
  margin-top: 20px;
}

@media(max-width:375px) {
  .scrolldown {
    font-size: 12px;
    font-weight: 400;
    color: #161616;
    margin-top: 20px;
  }
  .mouse {
      width: 30%;
  }
}
/* SCROLLDOWN SECTION END */
